#gh-repo-list {
    padding: 2em;
    .item {
        border: 1px solid black;
    }
}
.projects {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: #000;
        }
    }
}
